<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="SvoppApi.log" />
    <target name="logconsole" xsi:type="Console" />
    <target name="accessdb" xsi:type="Database">
      <connectionString>Server=server;Database=db;Integrated Security=SSPI</connectionString>
      <commandText>
        INSERT INTO [DB].[dbo].[FrontAccessLog]              
        (Timestamp, Username, Action, Arguments, IsAuthorized, ElapsedTimeMs, IsOk)            
        VALUES (@Timestamp, @Username, @Action, @Arguments, @IsAuthorized, @ExecutionTime, @IsOk)
      </commandText>
      <parameter name="@Timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss}" />
      <parameter name="@Username" layout="${event-properties:item=Username}" />
      <parameter name="@Action" layout="${event-properties:item=Action}" />
      <parameter name="@Arguments" layout="${event-properties:item=Arguments}" />
      <parameter name="@IsAuthorized" layout="${event-properties:item=IsAuthorized}" />
      <parameter name="@ExecutionTime" layout="${event-properties:item=ExecutionTime}" />
      <parameter name="@IsOk" layout="${event-properties:item=IsOk}" />
    </target>
    <target name="errordb" xsi:type="Database">
      <connectionString>Server=server;Database=DB;Integrated Security=SSPI</connectionString>
      <commandText>
        insert into [dbo].[FrontErrorLog] (
        Timestamp, Message, CallStack, Exception
        ) values (
        @Timestamp, @Message, @CallStack, @Exception
        );
      </commandText>

      <parameter name="@Timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@CallStack" layout="${stacktrace:format=Flat}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errordb" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="accessdb" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>